<div id="gzh_qrcode">
    <h3> 星尘的一个朋友 </h3>
    <p> 亦或繁星、亦或尘埃。不要抱怨，坚持下去 </p>
    <img alt="星尘的一个朋友" src="/images/stardust_qrcode.jpg">
    <p class="small-info">扫码关注公众号，回复<span style="color:red">“加群”</span>一起交流学习</p>
</div>
<!--<div class="project-app">-->
    <!--<div class="card-container">-->
        <!--<section class="project-card">-->
            <!--<a class="card-wrap" href="#" target="_blank">-->
                <!--<div class="card-header"></div>-->
                <!--<h3 class="card-title"> 星尘的一个朋友 </h3>-->
                <!--<p class="card-description"> 亦或繁星、亦或尘埃。不要抱怨，坚持下去 </p>-->
            <!--</a>-->
        <!--</section>-->
    <!--</div>-->
<!--</div>-->
<script>
    (function () {
        $('.card-header').each(function () {
            var name = $(this).data('name');
            $(this).geopattern(name);
        })
    })()
</script>