<div class="project-app">
    <div align="center" class="card-container" style="text-align: center;margin: 0 auto">
        <a class="card-wrap">
            <h3 class="card-title"> 星尘的一个朋友 </h3>
            <p class="card-description"> 亦或繁星、亦或尘埃。不要抱怨，坚持下去 </p>
            <img alt="星尘的一个朋友" src="images/stardust_qrcode.jpg">
            <p>微信扫码，回复<span style="color:red">“加群”</span>一起交流学习</p>
        </a>
    </div>
</div>
<!--<div class="project-app">-->
    <!--<div class="card-container">-->
        <!--<section class="project-card">-->
            <!--<a class="card-wrap" href="#" target="_blank">-->
                <!--<div class="card-header"></div>-->
                <!--<h3 class="card-title"> 星尘的一个朋友 </h3>-->
                <!--<p class="card-description"> 亦或繁星、亦或尘埃。不要抱怨，坚持下去 </p>-->
            <!--</a>-->
        <!--</section>-->
    <!--</div>-->
<!--</div>-->
<script>
    (function () {
        $('.card-header').each(function () {
            var name = $(this).data('name');
            $(this).geopattern(name);
        })
    })()
</script>