#archives

.time-section
  .section-year
    cursor: pointer
    font-size: 1.8em
    clear both

  .section-list
    clear both

    // 归档页版式调整
    .section-list-item
      margin: 10px 12px
      font-size 1.0em
      width 47%
      float left
      @media m-pad
        width 100%
        clear both

      .archive-title
        margin-left 10px
        color: color-primary
        transition: padding-left .3s ease
        font-size: 1.0em

        &:hover
          color: color-red
          padding-left: 10px