#gzh_qrcode
  h3
    color: color-primary
  img
    margin 12px
    border-radius 5px
    box-shadow 2px 2px 5px color-dark
    border 1px solid color-gray
    height: 200px;
    width: 200px;
  .small-info
    font-size 12px

.column
  border 1px solid color-gray

#lvgo-design
  border-radius 5px
  box-shadow 2px 2px 5px color-dark
  border 1px solid color-gray
  margin 12px
  width: 280px
  height 119px
  background-image url("https://i.loli.net/2020/12/26/nQHEdLXfOyU3kYF.png")
  background-size cover
