#gzh_qrcode
  h3
    color: color-primary
  img
    margin 12px
    border-radius 5px
    box-shadow 2px 2px 5px color-dark
    border 1px solid color-gray
    height: 200px;
    width: 200px;
  .small-info
    font-size 12px
